header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--primary_color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: var(--accent_color);
}
.div_logo{
    display:flex;
    justify-content: flex-start;
}

.navigation_container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}

.navigation_container li {
    display: inline;
}

.navigation_container a {
    text-decoration: none;
    color: var(--text_color);
    font-size: 30px;
}

.navigation_container a:hover {
    color: var(--hover_color);
}

.button_container button {
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--accent_color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.button_container button:hover {
    background-color: var(--hover_color);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: var(--text_color);
    margin: 5px;
}


@media (max-width: 1200px)
{
    #sub_logo{
        display:none;
        visibility: hidden;
        opacity: 0;
    }
}

@media (max-width: 900px) {
    .navigation_container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--primary_color);
        text-align: center;
        padding: 10px 0;
    }

    .navigation_container.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}