#hero_section {
    background-color: var(--primary_color);
    display: flex;
    flex-direction: row;
    padding:0;
    height: 55vh;
    overflow: hidden;
    justify-content: center;
    align-items: center; /* Bild am unteren Rand des Containers ausrichten */
}

#hero_section img {
    max-height: 100%;
    max-width: 50%;
    object-fit: contain;
    border-radius: 10px;
    align-self: flex-end; /* Bild bleibt am unteren Rand */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40vw;
    color: var(--text_color);
    padding:20px;
}

.text-container h1 {
    font-size: 60px;
    line-height: 1.2;
}

#hero_section button {
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    background-color: var(--accent_color);
    font-size: 18px;
    font-weight: var(--font_weight_bold);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    color: white;
}

#hero_section button:hover {
    background-color: var(--hover_color);
    transform: scale(1.05);
}

@media (max-width: 1000px) {
    #hero_section {
        flex-direction: column-reverse;
        padding-top: 10px;
        height: auto;
        align-items: center;
    }

    #hero_section img {
        max-width: 70%;
        align-self: center; /* Bild in der Mitte zentrieren */
        justify-content: flex-end;
    }

    .text-container {
        width: 80vw;
    }

    .text-container h1 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    #hero_section img {
        max-width: 80%;
    }

    .text-container h1 {
        font-size: 40px;
    }

    #hero_section button {
        padding: 12px 24px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .text-container h1 {
        font-size: 30px;
    }

    #hero_section button {
        padding: 10px 20px;
        font-size: 14px;
    }
}